body {
    background-color: rgb(16, 16, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.board {
    color: rgb(42, 183, 136);
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: black;
    border: 2px solid yellow;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.result {
    margin: 20px;
    font-size: 24px;
    text-align: center;
    color: aqua;
}
